.grid{
  display: grid;
  grid-template: repeat(3, 300px) / repeat(3, 300px);
  grid-auto-rows: 300px;
  margin-left: 25vw;
  margin-right: 25vw;
  position: absolute;
  z-index: -2;
}
h3{
  font-family: 'Oswald', sans-serif;
}
.item{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.item img{
  width: 250px;
  height: 250px;
  opacity: 1;
}

.item:hover{
  animation: fade .75 ease-in;
  opacity: .5;
}
@keyframes fade {
  0% {
    opacity: 1;
  },
  100% {
    opacity: .5;
  }
}
