/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Goblin+One|Nosifer|Oswald|Playfair+Display:400i');

*{
  margin: 0;
  padding: 0;
}
.wrapper{
  margin-top: 10vh;
}

a{
  text-decoration: none;
  color: white;
}
a:visited{
  color: white;
}
.hero-banner{
  width: 100%;
  background-image: url('./assets/demobaza1.jpg');
  height: 670px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  margin: 0;
}
